/* .r { */
    /* background-color: rgb(red, green, blue); */
    /* background-color: #FFFF11; */
    /* # RR GG BB a3la shi hye FF bel color 
    //bi ya3mla abyda a3la shi */
    /* background-color: #0000ff; COLOR HEX CODE */
    /* background-image: url("../imgs/hi/png");
    background-repeat: repeat; default value repeat */
    /* background-position: 20px ; */

/* top right bottom left; */
/* 3a2areb el se3a */

/* padding-bottom: 10px;
padding: 0 0 10px; */

/* margin: bye2bal negative value bas el padding no; */







/* Centralisation */

/* bi sir el div bel nos  // cz faddal 30 men asel 100
wazza3nehon shmel w yamin
width: 70%;
margin-left: 15%; */



/* another method : to align div center
width:70%;
margin-left: auto;
margin-right:auto ;
*/


/* border: hajem Lon No3;
border-color: red green blue rosybrown;
border-style:solid dotted solid
 */

/* background-color: #DDD;
width: 300px;
padding: 10px;
border:10px; 
 outline: 1px ; el outline huwe 7affet el div barra 
 sar mase7et el div 340px */
/* outline-style: dashed; */





/* DIISPLAYYYYYYYYYYYYYYYYYYYYYYYY */

/* block */
/* take full width */
/* ba3ymul line btrakw tahet baadon byejo


 <div>hi</div>
<div>hi</div> 
<div>hi</div>

div {
    padding: 10px;
    margin:10px;
} */
/* /////////////////////// */

/* display: ; */
/* inline */
/* dont add line break 
dont respect top and bottom 
bya3mul kawares iza ma zabat el margin w bi fut kelshi bel tene  */


/* <span><span>
<span><span>
<span><span> */







/* inline-block */
/* respect everything like block bi 3akes el inline 7aff */


/* <span><span>
<span><span>
<span><span> */

/* display:none; nothing displayed */


/* visibility: visible; zahher */
/* visibility iza 5fet el 3onsor bt5alli makeno bel workflow */
/* bi 3akes el block , el block bi shilo w bye3od faw2o */

/* ----------------------Grouping----------- */
 /* .one ,.two , .three{
     margin: 10px;
     width:200px;
 }
  */
  /* .one {
color: red;
}
.two {
   color:yellow;
}
.three{
   color: blue;
}
 */

/* -------------NESTING------------------- */

/* p li jawa el div

NESTING
div p {
    color: red;
} */
/* } */



/* Nesting
 */
/* div .special {
    nesting
} */


/* .p {
    bikun el background-color 3a add el kelme;
    background-color: red;
    display: inline-block;
} */

/* .p { */
    /* min-width: 200px; w momken yetmadad, */
    /* max-width: 400px; max width yusalo, */
    /* max-height : 50px, */
    /* height:auto huwe el standard */
    
    /* yaane bikun tulo 3a add el makal */
    /* width: fit-content; */
/* } */

/* div{
/* overflow: scroll; bas 3ando mehckle,
overflow: auto,
overflow-x: hidden; */
/* ktir mhem bel responsive 
} */



/* div {
    /* text-shadow: ; zillllll */
    /* text-shadow: 0 0 0 red;
    horizontal vertical  */

    /* div {
        /* bisir el kalem bel nos */
        /* text-align: center; */
        /* direction: ltr; men el shmel lal yamin aw rtl */






    /* div { */
        /* text-decoration: line-through; */
        /* or underline or overline */
        /* text-decoration: none; */
        /* bi shill el 5at men tahet el link */
        /* text-transform:capitalize ; */

/* --------------TExt SPacing------------ */
/* letter-spacing: 2px or -2px; */
/* text-indent: 2px; masse7a fadye abel el text */
/* line-height: 1,3; el space ben el stur */
/* word-spacing: 30px; */
/* white-space:normal; */
/* word-break: break-all; iza tele3 barra el 5at ya3mul rapping */
/* text-overflow: ellipsis; bi 7et ... */

/* div:hover {
    overflow: visible;
} */

/* inherit bi wares el child men el parents */
/* inherit bi wares el child men el parents */
/* inherit bi wares el child men el parents */
/* inherit bi wares el child men el parents */
/* inherit bi wares el child men el parents */





/* } */

/* -----------------font-family---------- */

/* .p{ */
    /* web fonts hye shi 2amen */
    /* font-family:'Courier New', Courier, monospace ; */
/* sans serif :bidun kasra */



/* fonts.google.com */


/* } */




/* Css Units */
/* font-size:"10px" pixels
1em = 16px default font size by w3schools organization */

/* div span { */
    /* font-size: 2em; yaane 2time yaane adda 3a narten */
    /* 2rem yaane bye5od men el root element li huwe <html> */
/* font-size: 100%; yaane nafes mase7et el parents, 
150% yaane iza hye 20px 100% => 150 hye 30px 
 */
 /* font-size: 5vw; */
 /* 1vw hye 1% => 900 hye 1 =>1 men 9 hye 45 */

 /* -------------------reponise------ */
  /* font-size: 5vw; */
  /* DYnamic */
/* font-weight: da5amet el 5at; */
/* cursor: pointer; */


/* } */


/* .parent div {
    background-color: red;
    color:white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 21%;
    float: left;
    /* overflow: hidden; */
/* } */


/* .parent {
    width: 200px;
} */
/* .one {
    background-color: crimson;
    padding: 20px;
    top: 20px;
    position: absolute;
    /* hon el div byet7arak bine2an 3al nafso */


/* .two {
    background-color: aqua;
    padding: 20px;
} */

/* .parent div {
    width: 200px;
  padding: 20px;
} */

/* .one {
    background-color: crimson;
    position: relative;

    /* z-index:3 ; */
 

/* .two {
    background-color: aqua;
  
} */


/* ------------------------------------ */
/* one: xxxxxx{
xxxxhye el pesudo classes
} */

/* .two:hover {
    background-color: white;
  
} */


/* :checked */
/* .two:checked + label {
    background-color: red;
  yaane bas a3mul checked el shi li baad checked bisir
} */



/* .two:visited {
    background-color: aqua;
  link zernehhh
} */

/* .two:empty {
    background-color: aqua;
 // aya 3onsor empty bel saf7a
} */

/* .two:focus{
    background-color: #FFaaEE; 
    outline: none;
    /* //lal imput */




 /* right click 3al element 
 baada  bta3mul force state */


 /* ----------------------------------------------- */



 /* PSEUDO ELEMENTS      ::          */


/* .two::first-letter{
    color: aquamarine;
}



.two::first-line{
font-size: medium;
}
 */



/* .two::selection{
    background-color: red;
    bas ta3mul selelction btegayr lawna w bi ruh lama tshil el select
}
     */



/* .one::after {
    content: " ";
    position: absolute;
    width: 5px;
    height: 100px;
    left: 90px;
    top: 0;
    background-color: aqua;
}
.one::before {
    content: " ";
    position: absolute;
    width: 5px;
    height: 100px;
    left: 20px;
    top: 0;
    background-color: aqua;
} */


/* .one::before {
    content: "hiiiiii ";

    width: 5px;
    height: 100px;
    } 
 */



 /* ------------------------------- */








/* Vendor Prefixesssss */

/* ca i use */

/* Hon 3m nahke 3an lama ndif bel css haki aw terms
metel :-webkit , :-moz-ui-invalid ,:-moz-window-inactive....
w shu bya3mli w shu ahamition w ano hol hene umur 5assa bel version taba3
el browser el used w fi wesbite esmo
www.caniuse.com bi 2elak 3n el versgin taba3 kell shaghle */


/* iza kenet 5asye m3ayane bi mar7alet el testing fa inta mettar'
thet edema 
-webkit-
-moz- 
-o- 
-ms- 
example => 
.class{
    -webkit-border-radius : 10px;
    -moz-border-radius:10px

} */
