* {
    box-sizing: border-box;
} 

/* .tran {
   
    width: 200px;
    height: 80px;
    padding: 10px;
    background-color: red; */
    /*transition-duration: 1s ,2s;
    transition-delay: 1s;
    /*transition-property: margin-left, margin-top;
    *//*transition-timing-function:linear ;
    */
    /* transition: width 10s , height 1s;
    transition:  prop  func  timing delay;
     */
/* }  */

/* .tran:hover{
   height: 150px;
    width: 300px;
  
} */


/* .tran {
hayda external styling
}

BAs el inline styling ya habibi a2wa meno */

/* WHOOOOoooooonnn el le3be */
/* 


.tran {
    background-color: red !important;
    he bteglob el inline el styling w bta3mul oveerride akho e5to 3le
} */


/* ------------------------------------------------------- */
/* Css Variables

-GLOBAL VARAIBLES
-LOCAl Variables */

/* var(variable Name , Fallback Value); */

/* :root {
    --mainColor : blue;
    --mainPadding:20px;

} */

/*          kif neta3mlo la hal variable mainColor */

/* .main {
    background-color: var(--mainColor);
    color: var(--mainColor);
    padding: var(--mainPadding);
    
}


.main {
    background-color: var(--mainColor, red);
    el red hye fallback value , hata barke el lon el aseses 5ereb
    
} */


/* .main {
    padding:calc(20px + var(--mainPadding));
    /* zedna 20 3laya */



/* .s{
    huwe bi fut abel 3al css hon w baaden biruh 3al varaibe iza 
    ma la2a
} */  



/* flexbox yaane albox el marennn */

/* direction:rtl sar el mawke3 arabiii */

/* mna3ti  lal parent display:flex */


/* display:flex
flex-direction : row....
flex-wrap:wrap   yaane aya shagle zyede btenzal la tahet
fi value esma wrap reverse , btsir badal ma tnazel el a5ira
bel nzul , betale3a bel tlu3
*/


/* For .parent */
/* display:flex => to start Flexible Box
flex-direction:row =>default value 
flex-warp:nowrap => Default Value
--flex-flow: [Flex-Direction] + [flex-wrap] hay bta5lik 
testagne 3an flex direct and dlwe wrap */


/* 
.parent {
    display: flex;
    flex-direction: row-reverse;
       /* hay btet7akam bi itijehe el flex */
    /* column-reverse   tawzi3 3amude */



/* justify-content */
/* 
flex-start => default ..yaane hye meshye ma3 el flow taba3 el saf7a
1 2 3 4 
5

flex-end
1 2 3 4 
       5

center 
1 2 3 4
   5     
    */
/* 


/////////////////////////////

    .parent {
        display: flex;
     justify-content: space-between;
     1       3       5
    }
    
     */

     /* justify-content: space-arround; */

     /* space-evenly = space-between + space arround */

     /* //////////////////////////// */


     /* <div class="centre">center</div>
     .center {
         display: flex;
         justify-content :center;
         align-items:center; bi hetelak el div aw el shagle
         awal el parent aw ekhera aw bi nos bas tullliaynnnn
         verticaly w bi dallo kaza element
         bi sir yeje el kelme bi nos el div
     } */


/* div .c {
    display: flex;
    align-content: center;
    // bye5od el content kelo w byel2o bi baado w bi harko kif mabadak
    strech value bta3mul fit 3al content kelo w btwas3o fia
} */



/* ------------------------- */




/* For .parent */
/* display:flex => to start Flexible Box
flex-direction:row =>default value 
flex-warp:nowrap => Default Value
--flex-flow: [Flex-Direction] + [flex-wrap] hay bta5lik 
testagne 3an flex direct and dlwe wrap 
--justify-content: flex-start =>default value
--align-items: stretch =>default Value
--align-content:stretch => default value
for child
flex-grow:0 =>default
flex-shrink:1 =>default
order : 0 =>defa , huwe tazi3 el child , 1,2,3,4,5

*/


/* FOR CHILD */
/* <div class="flex">
<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
</div> 

.flex div .a{
    flex-grow: 1; 
    /* iza na2et wahad men el div w 3atayo value 2 bi dawbel addon 3a 2 */
    /* Numuwww */
    /* bi siro yekbaro el div la yisr add baad 
    flex-basis: 200px;
    flex basis byen3ata la element wehed w fik tkabro 3a
}*/


/* For .parent */
/* display:flex => to start Flexible Box
flex-direction:row =>default value 
flex-warp:nowrap => Default Value
--flex-flow: [Flex-Direction] + [flex-wrap] hay bta5lik 
testagne 3an flex direct and dlwe wrap 
--justify-content: flex-start =>default value
--align-items: stretch =>default Value
--align-content:stretch => default value
for child
flex-grow:0 =>default
flex-shrink:1 =>default
order : 0 =>defa , huwe tazi3 el child , 1,2,3,4,5
flex-basis:auto =>default
flex: [flex grow] [flex shrink] [flex basis] 0 1 auto
align-self:auto = > default value
*/












/* /////////////////////////filter//////////////////////////////////////////////// */

/* img {
    transition: 0.3s;
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0);
} */


/* a{
    pointer-events:none;

} */



/* //////////////////////GRIDDDDD///////////////////////////////// */

/* transform ahsan men width */

#a {
    /* scale(x,y); */
/* transform: scale(1,5);  byetmadad wehed */
/* transform: rotate(45deg); bi lef 45 darage */
/* 1turn yaane 360degre */
/* 0.5trun 150degre   */
}
/* 
 

.image {
overflow: hidden;
width: 720px;
height: 350px;
}


.image img {
    transition: 0.5s;
}

image:hover {
    transform: scale(1.3) rotate(5deg);
    opacity: 0.6
    ;
} */










/* selectors---------------------------------  



* ALL ELEMENTS 
Elements => p , div
element otherelememnt => div p
.className
#id
.parent .child
.one.two
.one div , .two p
element.className
.parent>.child =>direct child
==============================
Element + other ELements => [div + p]
............             [div ~ p ]
[Attribute]
element[attribute]
[attribute=value]
element[attribute=value]=>input[type="submit"]
[attribute~=value]=>contains A word
[attribute*=value]=>contains A String
[attribute^=value]=>start with A string








*{
    kelshi
}

div p {
    p li jawet div
}

.parent .child {
    child li juwa parent
}

.one.two{
    yaane element 3ando hal 2 
    class
}


.d div {
    div li jawa .d
}


.class-name div ,
.class-name p {
ya he ya he
}




p.class-name {
p li 3ndo hayda el class name 
}


.one  > .two{
    yaane element li mubasharatan tahto
    child mubachar  element
}

div + p {
el div li degre men baado paragraph 
}


p ~ div {
yaane kell el div li mne baad el p li hene e5we w 3a nafes el 5attt

}



tansik 3an tari2 el attribute

[href] {

kell li 3andon attribute href
}








Elemenmt[attribute]
div[href] {

div li 3ando attribute href
}






Element[attribute]
div[href=value] {

div li 3ando attribute href esmo "#g"
}




[attribute~=value] {
    CONTAINS a WORD

ATTRIBUTE LI 3ANDO KELME MENFESLE ESMA ALI
}




[attribute~=value] {
    CONTAINS a WORD

ATTRIBUTE LI 3ANDO KELME MENFESLE ESMA ALI
}





[attribute*=value] {
    CONTAINS a WORD

ATTRIBUTE LI 3ANDO KELME  ESMA ALI HATA LAW METESLE
}




[TITLE^="S0"] {
    EL TITLE LI BYEBDA BI s0 WEN MA KEN AW SHU MA KEN 3ADADO

}


p:first-child{
awal element degre men baaad P
div 
p  hayda byetlawan 
p
}



p:last child
yaane last element fi lal parent

div:last-child {
ekher div

}

:first-of-type
awal wehed men naw3o


:last-of-type
ekher wehed men naw3o



p:only-child
{
p waha7iide ahlo ...bi albo wehed bas div> p <div
}



p:not(firstchild) {
}


p:not(.special) {
}


//btjib aya 3onsor badak
:nth-child()


p:nth-child(1) {
}


p:nth-child(4) {
}

p:nth-child(even) {
    color:"red"
}

even or odd

-----------------------------
div:nth-last-child(2){}

div:nth-of-type(2) { color:"red" }

div:nth-last-of-type(color:"blue")




* ALL ELEMENTS 
Elements => p , div
element otherelememnt => div p
.className
#id
.parent .child
.one.two
.one div , .two p
element.className
.parent>.child =>direct child
==============================
Element + other ELements => [div + p]
............             [div ~ p ]
[Attribute]
element[attribute]
[attribute=value]
element[attribute=value]=>input[type="submit"]
[attribute~=value]=>contains A word
[attribute*=value]=>contains A String
[attribute^=value]=>start with A string
====================================
:first-child
:last-child
:first-of-type
:last-of-type
:only-child

=======
:not(Selectors)
:nth-child(n)
:nth-last-child(n)
:nth-of-type(n)
:nth-last-of-type(n)
=================
:root
:checked
:input[type="checkbox"]:checked + label {
    color:"red }
:empty iza ken fade w badak tbayen lon jaweto
:disabled
:required
input:onfocus{}
div::selection { color :"black";}
:: placeholder { color : "red";}


========================================================================



video 83
Media Queries And Responsive Designs Intro



*/

@media print {
    body {
        background-color: aqua;
    }
}




@media (min-width:900px) {
    body {
        background-color: aqua;
    }
}


@media (min-width:900px) and (max-width:2000px){
    body {
        background-color: aqua;
    }
}